<div class="row no-gutters rounded">
  <div class="col-sm-3 rounded">
    <img
      src="/assets/img/personal-projects/{{project.image}}"
      alt=""
      class="card-img-fluid"
    />
  </div>
  <div class="col-sm-9">
    <div class="card-body">
      <h3 class="card-title">{{ project.name }}</h3>
      <p class="card-text">{{ project.description }}</p>
      <small>
        <a
          class="github-button"
          href="https://github.com/MrSkwiggs/{{project.name}}"
          data-color-scheme="light: light; dark: dark;"
          data-icon="octicon-star"
          data-size="large"
          data-show-count="true"
          aria-label="Star MrSkwiggs/{{project.name}} on GitHub"
          >Star</a
        >
      </small>
    </div>
  </div>
</div>
